[hidden] {
	display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}

@font-face {
  font-family: 'Mistral';
  src: url('../fonts/Mistral.eot?#iefix') format('embedded-opentype'),  url('../fonts/Mistral.woff') format('woff'), url('../fonts/Mistral.ttf')  format('truetype'), url('../fonts/Mistral.svg#Mistral') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	width: 900px;
	height: 500px;
}

#background {
	position: absolute;
	filter: alpha(Opacity=30);
  	opacity: 0.3;
  	z-index: -3;
  	top: 0;
  	left: 0;
}

.background__table{
	width: 900px;
	height: 600px;
	border-spacing: 0 0;
}

.background__table__row{
	height: 23px;
}

.background__table__cell{
	width: 23px;
	border: 1px solid blue;
}

input[type=range] {
  -webkit-appearance: none;
  width: 97px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 97px;
  height: 2px;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #000000;
  -webkit-appearance: none;
  margin-top: -7px;
  cursor: pointer;
}
input[type=range]::-moz-range-track {
  width: 97px;
  height: 2px;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 97px;
  height: 2px;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 1);
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 1);
}
input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #000000;
  cursor: pointer;
}

.button {
	cursor: pointer;
	background-image: url("../images/button_border.png");
	background-size: 100% 100%;
}

.button:hover {
	box-shadow: 5px 5px 10px gray;
}

.button:active {
	box-shadow: inset 5px 5px 10px grey;	
}

.game_buttons {
	display: inline-block;
	position: relative;
}

.game_button {
	vertical-align: top;
	display: inline-block;
	background-image: none;
	width: 300px;
	height: 200px;
}

.game_button_single_player {
	vertical-align: top;
	margin-top: 150px;
	margin-left: 100px;
}

.game_button_two_players {
	vertical-align: top;
	margin-top: 150px;
	margin-left: 100px;
}

.game_button_single_player_image {
	margin-left: -15px;
	margin-top: -4px;
	transform: skewX(-3deg);
	-moz-transform: skewX(-3deg);
	-ms-transform: skewX(-3deg);
	-webkit-transform: skewX(-3deg);
	-o-transform: skewX(-3deg);
	width: 325px;
	height: 210px;
}

.game_button_two_players_image {
	margin-left: 41px;
	margin-top: -60px;
	transform: rotate(90deg) skewX(-2deg);
	-moz-transform: rotate(90deg) skewX(-2deg);
	-ms-transform: rotate(90deg) skewX(-2deg);
	-webkit-transform: rotate(90deg) skewX(-2deg);
	-o-transform: rotate(90deg) skewX(-2deg);
	width: 218px;
	height: 320px;
}

.game_button:active .game_button_text_single_player {
	top: 182px;
	left: 182px;
}

.game_button:active .game_button_text_two_players {
	top: 182px;
	left: 575px;
}

.game_button_text_single_player {
	position: absolute;
	top: 180px;
	left: 180px;
}

.game_button_text_two_players {
	position: absolute;
	top: 180px;
	left: 573px;
}

.game_button_text {
	font-size: 48px;
	font-family: Mistral;
}

.game_button_single_player_text_second_line {
	margin-left: 26px;
	margin-top: 15px;
}

.game_button_two_players_text_second_line {
	margin-top: 15px;
}

.options {
	position: relative;
	display: block;
	margin-left: 25px;
	margin-top: 25px;
	height: 50px;
	width: 400px;
}

.option_sound {
	vertical-align: top;
	display: inline-block;
	background-image: none;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.option_sound_image {
	width: 50px;
	height: 50px;
}

.option_sound_volume {
	display: inline-block;
	vertical-align: top;
	height: 50px;
	width: 115px;
	transition: opacity 0.2s ease-out 0s;
	-webkit-transition: opacity 0.2s ease-out 0s;
	-o-transition: opacity 0.2s ease-out 0s;
	-moz-transition: opacity 0.2s ease-out 0s;
	filter: alpha(Opacity=0);
  	opacity: 0;
}

.option_sound_volume_range {
	vertical-align: top;
	margin-top: 24px;
	width: 97px;
	margin-left: 12px;
}

.option_sound_volume_background {
	width: 118px;
	height: 50px;
	position: absolute;
	z-index: -1;
	top: -4px;
	margin-left: -105px;
}

.option_back {
	display: none;
	position: absolute;
	left: 75px;
	height: 50px;
	width: 100px;
	transition: left 0.2s ease-out 0.2s;
	-webkit-transition: left 0.2s ease-out 0.2s;
	-o-transition: left 0.2s ease-out 0.2s;
	-moz-transition: left 0.2s ease-out 0.2s;
}

.option_back_inscription {
	font-size: 38px;
	font-family: Mistral;
	margin-left: 12px;
	z-index: -1;
}

.option_sound:hover ~ .option_back{
	transition: left 0.2s ease-out 0s;
	-webkit-transition: left 0.2s ease-out 0s;
	-o-transition: left 0.2s ease-out 0s;
	-moz-transition: left 0.2s ease-out 0s;
	left: 175px;
}

.option_sound:hover ~ .option_sound_volume{
	transition: opacity 0.2s ease-out 0.2s;
	-webkit-transition: opacity 0.2s ease-out 0.2s;
	-o-transition: opacity 0.2s ease-out 0.2s;
	-moz-transition: opacity 0.2s ease-out 0.2s;
	filter: alpha(Opacity=1);
  opacity: 1;
}

.option_sound_volume:hover {
	transition: opacity 0.2s ease-out 0.2s;
	-webkit-transition: opacity 0.2s ease-out 0.2s;
	-o-transition: opacity 0.2s ease-out 0.2s;
	-moz-transition: opacity 0.2s ease-out 0.2s;
	filter: alpha(Opacity=1);
  	opacity: 1;
}

.option_sound_volume:hover ~ .option_back {
	left: 175px;
}

.option_back:active .option_back_inscription {
	margin-left: 11px;
	margin-top: -2px;
}

.field {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 300px;
	margin-left: 75px;
	margin-top: 38px;
}

.field_border {
	position: absolute;
	width: 298px;
	height: 273px;
	left: 77px;
	top: 139px;
}

.field_column_names {
	margin-left: 33px;
}

.field_column_name {
	display: inline-block;
	font-size: 30px;
	font-family: Mistral;
	margin-right: 13px;
}

.field_line_name {
	margin-left: 5px;
	display: inline-block;
	font-size: 21px;
	line-height: 25px;
	font-family: Mistral;
}

.field_line_name_10 {
	margin-left: 1px;
}

.field_table {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 250px;
	border-spacing: 0 0;
	margin-left: 25px;
	margin-top: -249px;
}

.field_table_row {
	height: 25px;
}

.field_table_cell {
	width: 25px;
}

.fleet {
	display: inline-block;
	vertical-align: top;
	margin-top: 100px;
	margin-left: 25px;
	width: 175px;
	height: 175px;
}

.fleet_ship {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 25px;
}

.fleet_ship_count {
	width: 25px;
	text-align: center;
	font-size: 23px;
	line-height: 25px;
	font-family: Mistral;
}

.fleet_x {
	width: 25px;
	height: 25px;
}

.not_active_ship {
	margin-left: 25px;
	filter: alpha(Opacity=50);
  	opacity: 0.5;
}

.active_ship {
	position: absolute;
	left: 475px;
}

.fleet_4_deck_ship {
	width: 100px;
	top: 175px;
}

.fleet_3_deck_ship {
	width: 75px;
	top: 225px;
}

.fleet_2_deck_ship {
	width: 50px;
	top: 275px;
}

.fleet_1_deck_ship {
	width: 25px;
	top: 325px;
}

.fleet_ship_border {
	height: 25px;
	background-image: url("../images/ship_border.png");
	background-size: 100% 100%;
}

.rotated_ship {
	transform: rotate(90deg);
	transform-origin: 12px 50%;
}

.player_form {
	display: inline-block;
	margin-top: 50px;
	margin-left: 25px;
}

.player_name {
	background: none;
	line-height: 50px;
	width: 175px;
	font-size: 36px;
	font-family: Mistral;
}

.player_name:focus {
	outline: none;
	border: none;
}

.player_form_autocompile {
	width: 175px;
	height: 50px;
	margin-top: 25px;
}

.player_form_autocompile_inscription {
	z-index: -1;
	line-height: 24px;
	font-size: 28px;
	font-family: Mistral;
}

.autocompile_line_1 {
	margin-left: 35px;
}

.autocompile_line_2 {
	margin-left: 10px;
}

.player_form_autocompile:active .autocompile_line_1 {
	margin-left: 37px;
	margin-top: 2px;
}

.player_form_autocompile:active .autocompile_line_2 {
	margin-left: 12px;
}

.player_form_quick_start {
	display: none;
	width:100px;
	height: 75px;
	margin-top: 25px;
}

.player_form_quick_start_inscription {
	z-index: -1;
	font-size: 28px;
	font-family: Mistral;
}

.quick_start_line_1 {
	margin-left: 10px;
}

.quick_start_line_2 {
	margin-left: 20px;
}

.player_form_quick_start:active .quick_start_line_1 {
	margin-left: 12px;
	margin-top: 1px;
}

.player_form_quick_start:active .quick_start_line_2 {
	margin-left: 22px;
}

.player_form_fight {
	width: 100px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
	margin-left: 25px;
}

.player_form_fight_inscription {
	font-size: 36px;
	font-family: Mistral;
	margin-left: 10px;
	line-height: 50px;
}

.player_form_fight:active .player_form_fight_inscription {
	margin-left: 12px;
	margin-top: 1px;
}